$body-color:#2E3B4D;
$header-color:#303030;
$nav-color:#303030;
$color-brand:#A1A1A1;
$primary-color:#fff;
$hover-color:#0A686B;
$brand-size:35pt;
$items-sizes:11pt;
$font-family-brand:'Josefin Sans', sans-serif;
$font-family-items:'Nanum Gothic', sans-serif;